.body{
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
}

#name{
    font-style: italic;
}

.image{
    display: block;
    margin: 15px;
    margin-left:50px
}