/* full width of browser on kindle is 900px by 725px!! */

:root{
    margin: 0;
    padding: 0;
}



.blocks{
    height: 100px;
}


.blocks:nth-child(even){

    background-color: white;
}

/* .square{
    display: block;
 
    width: 100px;
    height: 100px;
}

.blocks > .square:nth-child(even){
    background-color: white;
}

.two > .square:nth-child(odd){
    background-color: white
}

.two > .square:nth-child(even){
    background-color: black
} */


.whole{

    width: 725px;
    background-color: black;
}